{{template "header.html" .}}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table>
                <tr><th>名称</th><th>地址</th><th>权重</th><th>操作</th></tr>
                {{range $_, $friendlink := $.friendlinks}}
                <form action="/friendlink/{{$friendlink.Id}}" method="post">
                    <tr>
                        <td><input type="text" name="name" value="{{$friendlink.Name}}"></input></td>
                        <td><input type="url" name="url" value="{{$friendlink.Url}}"></input></td>
                        <td><input type="number" name="priority" value="{{$friendlink.Priority}}"></input></td>
                        <td><button type="submit">修改</button></td>
                    </tr>
                </form>
                {{end}}
            </table>
        </div>
    </div>
</div>
{{template "footer.html" .}}
