{{template "header.html" .}}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>{{$.post.Title}}</h1>
        <div>作者：{{$.post.User.Name}} 创建时间: {{date $.post.Timestamp "Y-m-d H:i:s"}} {{if $.PERM_EDITPOST}}<a href="/post/{{$.post.Id}}/edit">编辑</a>{{end}} {{if $.PERM_DELPOST}}<a id="btn_del" href="#">删除</a>{{end}}</div>
        {{if $.PERM_DELPOST}}<div class="alert alert-danger hidden" id="div_del" role="alert">确定要删除文章么？<div id="btn_del_cancel" class="btn-group" role="group" aria-label=""><a class="btn btn-primary btn-xs" href="#">取消</a><a class="btn btn-danger btn-xs" href="/post/{{$.post.Id}}/delete">确认删除</a></div></div>{{end}}
        <div>
            {{range $_, $tag := $.post.Tags}}
            <span class="label label-default">{{$tag.Name}}</span>
            {{end}}
        </div>
        <div>
            {{str2html $.post.Content}}
        </div>
    </div>
</div>
<script>
    $("#btn_del").click(function() {
        $("#div_del").removeClass("hidden"); 
    });
    $("#btn_del_cancel").click(function() {
        $("#div_del").addClass("hidden");
    });
</script>
{{template "footer.html" .}}
